.navbar-nav {
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
  }
  
    
  .navbar-nav a:hover{
    border-bottom: 3px solid white;
    transition: .2s ease-in-out;
    color: white;
}
@media (max-width:909px) {
.navbar-nav a:hover{
    border-bottom: none;
    color: orange;
    transition: .2s ease-in-out;
}
}
  input.ng-invalid.ng-touched{
   border: 1px solid red;
  }
  .error-border{
    border: 1px solid red;
  }
  .login-box{
    width: 700px;
    /* height: 500px; */
    /* background-color: white; */
    /* border-radius: 5px; */
    /* box-shadow: 0 8px 16px rgba(0,0,0,0.3); */
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: 10%;
    /* border: 1px solid silver; */
    padding: 20px 60px;
    /* box-sizing: border-box; */
  }
  
  .login-box h1{
    margin-left: 23%;
    font-weight: bolder;
    margin-bottom: 10%;
    margin-top: 7%;
    color: black;
    /* font-size: 18px; */
  }
  .login-box a{
    text-decoration: none;
    color: blue;
    font-size: small;
  }
  .login-box a:hover{
    color: black;
    text-decoration: none;
  } 
  .btu{
      /* background-color: #3bb497; */
      /* background-image: linear-gradient(-90deg, #2f00ff, #8214dc);  */
      background-image: linear-gradient(-90deg, #ff0077, #8214dc); 
      color: white;
      padding: 15px;
      width: 40%;
      border: none;
      margin-left: 30%;
      margin-top: 3%;
      border-radius: 20px;

  }
  input{
    border: 1px solid grey;
    background-color: white;
    color: black;
  }
  textarea{
    border: 1px solid grey;
    background-color: white;
    color: black;
  }
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #4863A0;
  }
  input[type=file]{
    border: none;
}
  .first{
    background-color: #a314dc; 
      /* background-image: linear-gradient(-90deg, #2f00ff, #8214dc);  */
    height: 75px;
      height: 100%;
      /* width: 540px; */
  }
  .first img{
      margin-top: 6%;
      margin-left: 6%;
  }
  .first h1{
      color: white;
      margin-top: 27%;
      margin-left: 35%;
      width: 100%;
  }
 
  .first .but{
      color: black;
      background-color: white; 
      border-radius: 25px;
       padding: 15px; 
       font-weight: bold;
       border:none;
       margin-left: 20%;
       margin-bottom: 10%;
       width: 50%;
  }
  #tag{
      margin-top: 20%;
      margin-left: 10%;
      margin-bottom: 8%;
      color: white;
  }

  #strength{
    margin-left: 5%;
  }
  .trainer{
    margin-left: 70%;
    border: 3px solid orange;
    color: black;
    background-color: white;
    padding: 13px;
    margin-top: 5%;

  }
  .trainer:hover{
    border: 2px solid crimson;
  }