.navbar{
    /* background-image: linear-gradient(-90deg, #2f00ff, #8214dc);  */
    background-image: linear-gradient(-90deg, #ff0077, #8214dc); 
}
.navbar-nav a{
    color: white;
    font-weight: bold;
}
.navbar-nav a:hover{
    color: lightblue;
}
