<div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" rouerLink="">
      <img src="/assets/images/logo2.png" height="70px" width="80px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/blog"
            *ngIf="blogService.getValue() || blogService.getUser()">Blog</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/managecategory"
            routerLinkActive="active-route"
            *ngIf="blogService.getValue()">Manage Category</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/yourposts"
            *ngIf="blogService.getValue() || blogService.getUser()">Your posts</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/createpost"
            *ngIf="blogService.getValue() || blogService.getUser()">Create post</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            *ngIf="!blogService.getValue() && !blogService.getUser()">Login</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signup"
            *ngIf="!blogService.getValue() && !blogService.getUser()">Sign Up</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            (click)="logout()"
            *ngIf="blogService.getValue() || blogService.getUser()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ends -->

  <input
    type="text"
    class="inpu form-control"
    [(ngModel)]="cat"
    placeholder="Add Category"/><button class="btn btn-danger" (click)="add()">Add Category</button>

  <div *ngIf="updatetoggle">
    <input
      type="text"
      class="inp form-control"
      [(ngModel)]="updatecate.catname"/><button class="btn btn-danger but" (click)="updatecat()">
      Update Category
    </button>
  </div>
  <div class="manage">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0">
        <thead>
          <tr>
            <th>Choose</th>
            <th style="text-align: center">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categorys">
            <td>
              <input
                type="checkbox"
                (change)="check(category)"
                (change)="change($event)"
                [disabled]="checkIfOthersAreSelected"/>
            </td>
            <td style="text-align: center">{{ category.catname }}</td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center; margin-top: 2%; margin-bottom: 8%">
        <button
          class="btn btn-danger"
          (click)="update()"
          style="margin-right: 2%">
          Update
        </button>
        <button
          class="btn btn-primary"
          (click)="delete()"
          style="margin-right: 2%">
          Delete
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
