#blos {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  color: #1b3040;
  font-weight: bold;
}
.blogs{
  margin-bottom: 5%;
}
.navbar {
  /* background-image: linear-gradient(-90deg, #2f00ff, #8214dc);  */
  background-image: linear-gradient(-90deg, #ff0077, #8214dc);
}
.navbar-nav a {
  color: white;
  font-weight: bold;
}
.navbar-nav a:hover {
  color: lightblue;
}
.card img {
  height: 220px;
  width: 100%;
}
.card {
  height: 560px;
}
.card h2 {
  /* margin-left: 3.5%; */
  text-align: center;
  color: #223c50;
  font-weight: bolder;
}
.card-text {
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 15px; */
  padding-bottom: 20px;
}
.card-text p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
.details {
  font-weight: 700;
  font-size: small;
  color: brown;
  margin-bottom: 3%;
}
