<!-- footer -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6>LINKS</h6>
        <div class="place">
          <p><a routerLink="/blog">Blog</a></p>
          <p><a routerLink="/">Login</a></p>
          <p><a routerLink="/signup">Sign Up</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <h6>CONTACT</h6>
        Blog,Thiruvananthapuram, kerala, India<br />
        Phone: +91 6725678922
        <p>Email: blog@gmail.com</p>
        FOR ENQUIRY: enquiryatblog@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social">
          <h6>GET IN TOUCH</h6>
          <p>
            <i class="fa fa-facebook-official"></i
            ><a routerLink=""> Facebook</a>
          </p>
          <p><i class="fa fa-instagram"></i><a routerLink=""> Instagram</a></p>
          <p><i class="fa fa-youtube-play"></i><a routerLink=""> Youtube</a></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <p class="copyright">Copyright@ Blog.All Rights Reserved</p>
</section>
